<div class="response container mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h4>Información del Riesgo</h4>
        </div>
        <div class="card-body">
            <div class="container text-left">
                <div class="row border bg-info text-light font-weight-bold justify-content-center">Proyecto</div>
                <div class="row border">
                    <div class="col-lg">Nombre del proyecto</div>
                    <div class="col-lg">{{proyecto.[0].nombre_proyecto}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Area</div>
                    <div class="col-lg">{{proyecto.[0].area_proyecto}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Jefe de Proyecto</div>
                    <div class="col-lg">{{proyecto.[0].nombres}} {{proyecto.[0].apellidos}}</div>
                </div>
            </div>
            <div class="container text-left">
                <div class="row border bg-info text-light font-weight-bold justify-content-center">Riesgo</div>
                <div class="row border">
                    <div class="col-lg">Nombre del riesgo</div>
                    <div class="col-lg">{{riesgo.[0].nombre_riesgo}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Tipo de riesgo</div>
                    <div class="col-lg">{{riesgo.[0].tipo_riesgo}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Descripción</div>
                    <div class="col-lg">{{riesgo.[0].descripción_riesgo}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Estrategia</div>
                    <div id="strat" class="col-lg">{{riesgo.[0].tipo_estrategia_tomada}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Impacto</div>
                    <div class="col-lg">{{riesgo.[0].impacto_riesgo}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">A_O</div>
                    <div class="col-lg">{{riesgo.[0].A_O}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Probabilidad</div>
                    <div class="col-lg">{{riesgo.[0].probabilidad_riesgo}}%</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Valoración</div>
                    <div class="col-lg">{{riesgo.[0].valoracion_riesgos}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Magnitud</div>
                    <div class="col-lg">{{riesgo.[0].magnitud_riesgo}}</div>
                </div>
                <div class="row border">
                    <div class="col-lg">Valoración de consecuencia</div>
                    <div class="col-lg">{{riesgo.[0].valoracion_consecuencia_riesgo}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="response container mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h4>Responder al Riesgo</h4>
        </div>
        <div class="card-body">

            <div class="container estrategia row">
                <div class="form-group rad">
                    <input type="radio" name="nombre_estrategia" class="form-check-input str" id="evitar" value="evitar"
                        onclick="cambiar('evitar')">
                    <label class="form-check-label" for="evitar">Evitar</label>
                </div>
                <div class="form-group rad">
                    <input type="radio" name="nombre_estrategia" class="form-check-input str" id="aceptar"
                        value="aceptar" onclick="cambiar('aceptar')">
                    <label class="form-check-label" for="aceptar">Aceptar</label>
                </div>
                <div class="form-group rad">
                    <input type="radio" name="nombre_estrategia" class="form-check-input str" id="transferir"
                        value="transferir" onclick="cambiar('transferir')">
                    <label class="form-check-label" for="transferir">Transferir</label>
                </div>
                <div class="form-group rad">
                    <input type="radio" name="nombre_estrategia" class="form-check-input str" id="escalar"
                        value="escalar" onclick="cambiar('escalar')">
                    <label class="form-check-label" for="escalar">Escalar</label>
                </div>
                <div class="form-group rad">
                    <input type="radio" name="nombre_estrategia" class="form-check-input str" id="mitigar"
                        value="mitigar" onclick="cambiar('mitigar')">
                    <label class="form-check-label" for="mitigar">Mitigar</label>
                </div>
            </div>





            <!--CASOS-->
            <form action="/formEvitar/{{proyecto.[0].id_proyecto}}/{{riesgo.[0].id_riesgo}}"
                enctype="multipart/form-data" method="POST">
                <div class="disable-select" name="impform" id="impevitar" style="display: none; visibility: hidden;"
                    align="left">

                    <div id="cambio_area" class="form-group" style="display: none; visibility: hidden;">
                        <h3 style="text-align: center;">Justificacion del cambio de estrategia</h3>
                        <textarea name="respuesta_cambio" class="form-control" id="cambio" rows="4"></textarea>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="alcance_switch"
                            onclick="evitar_alcance()">
                        <label unselectable="on" class="custom-control-label" for="alcance_switch">Reducir alcances
                            del proyecto</label>
                    </div>
                    <div id="alcance_form" class="form-group" style="display: none; visibility: hidden;">
                        <h3>¿Cuales alcances usted cree que deberian no considerarse debido al riesgo?</h3>


                        {{#each alcances}}
                        <input type="checkbox" id="{{alcances}}" name="{{alcances}}" value="{{alcances}}">
                        <label for="{{alcances}}"> {{alcances}}</label><br>
                        {{/each}}



                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="plan_switch" onclick="evitar_plan()">
                        <label class="custom-control-label" for="plan_switch">Modificar plan de proyecto</label>
                    </div>

                    <div id="plan_form" class="form-group" style="display: none; visibility: hidden;">

                        <h3>Descargue el plan de proyecto vigente aqui</h3>
                        {{#each plan}}
                        <a class="btn btn-success" href="/descargar/{{plan_proyecto}}">Descargar Plan de proyecto</a>
                        {{/each}}
                        <h3>Suba las modificaciones que realizo a este plan de proyecto aqui</h3>

                        <input type="file" name="plan_modificado">


                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="cronograma_switch"
                            onclick="evitar_cronograma()">
                        <label class="custom-control-label" for="cronograma_switch">Extender cronograma proyecto</label>
                    </div>

                    <div id="cronograma_form" class="form-group" style="display: none; visibility: hidden;">
                        <label> Fecha inicio del proyecto: {{cronograma.[0].inicio_proyecto}}</label> <br>
                        <label> Fecha termino del proyecto {{cronograma.[0].termino_proyecto}}</label> <br>
                        <label> Indique aqui cuando deberia terminar el proyecto visto: </label>

                        <input type="date" id="fecha_modificacion" name="fecha_modificacion"
                            value="{{cronograma.[0].termino_proyecto}}" min="2018-01-01" max="2040-12-31"> <br>

                    </div>

                    <button class="btn btn-success btn-block">
                        Enviar
                    </button>


                </div>
            </form>
            <div name="impform" id="impaceptar" style="display: none; visibility: hidden;" class="form-group">
                <h1>FORMULARIO ACEPTAR</h1>
            </div>
            <div name="impform" id="imptransferir" style="display: none; visibility: hidden;" class="form-group">
                <form action="/formTransferir/{{proyecto.[0].id_proyecto}}/{{riesgo.[0].id_riesgo}}" method="POST">
                <h1>Transferir a:</h1>
                <div align="left">
                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="orgaexterna"
                            onclick="transferir_orgaexterna()">
                        <label unselectable="on" class="custom-control-label" for="orgaexterna">Organización externa</label>
                    </div>
                <div id="orgaexterna_form" class="form-group" style="display: none; visibility: hidden;">
                 <h4>Escoja la organización externa </h4>
                        <select name="orgaexterna" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Municipalidad de quintero">Municipalidad de quintero</option>
                            <option value="Trabajo social de fuerzas mayores">Trabajo social de fuerzas mayores</option>
                            <option value="Estados unidos de trabajos sociales">Estados unidos de trabajos sociales</option>
                        </select>
                 <h4>Costo de transferencia en dinero </h4>
                        <input type="number" id="transferenciaDinero1" name="transferenciaDinero1" >
                </div>
                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="orgainterna"
                            onclick="transferir_orgainterna()">
                        <label unselectable="on" class="custom-control-label" for="orgainterna">Organización interna</label>
                    </div>
                 <div id="orgainterna_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>Escoja la organización interna </h4>
                        <select name="orgainterna" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Departamento de trabajo social">Departamento de trabajo social</option>
                            <option value="Departamento de informática">Departamento de informática</option>
                            <option value="Departamento de adultos mayores">Departamento de adultos mayores</option>
                        </select>
                        <h4>Costo de transferencia en tiempo </h4>
                        <input type="text" id="transferenciaTiempo1" name="transferenciaTiempo1" >
                </div>
               <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="persointerna"
                            onclick="transferir_persointerna()">
                        <label unselectable="on" class="custom-control-label" for="persointerna">Persona interna</label>
                    </div>
                 <div id="persointerna_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>Escoja la persona interna </h4>
                        <select name="persointerna" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Raul Gonzalez">Raul Gonzalez</option>
                            <option value="Esteban Vivar">Esteban Vivar</option>
                            <option value="Gonzalo Medina">Gonzalo Medina</option>
                        </select>
                        <h4>Costo de transferencia en tiempo </h4>
                        <input type="type" id="transferenciaTiempo2" name="transferenciaTiempo2" >
                </div>

                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="persoexterna"
                            onclick="transferir_persoexterna()">
                        <label unselectable="on" class="custom-control-label" for="persoexterna">Persona externa</label>
                    </div>
                <div id="persoexterna_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>Escoja la persona externa </h4>
                        <select name="persoexterna" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="John Doe">John Doe</option>
                            <option value="Sebastian Perez">Sebastian Perez</option>
                            <option value="Amalia Espinoza">Amalia Espinoza</option>
                        </select>
                        <h4>Costo de transferencia en dinero </h4>
                        <input type="number" id="transferenciaDinero2" name="transferenciaDinero2" >
                </div>
                <button class="btn btn-success btn-block">
                        Enviar
                    </button>

                </div>
                </form>
                
            </div>
            <div name="impform" id="impmitigar" style="display: none; visibility: hidden;" class="form-group"
                align="left">


                <h4>Minimizar el impacto del riesgo</h4>
                <form action="/formMitigar/{{proyecto.[0].id_proyecto}}/{{riesgo.[0].id_riesgo}}" method="POST">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="rrhh_switch" onclick="mitigar_rrhh()">
                        <label unselectable="on" class="custom-control-label" for="rrhh_switch">Dedicar recursos humanos
                            de
                            reserva</label>
                    </div>
                    <div id="rrhh_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4> Seleccione a la persona adecuada para el riesgo</h4>
                        <select name="rrhh" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Miguel yanez">Miguel yanez</option>
                            <option value="Sebastian medina">Sebastian medina</option>
                            <option value="Roberto Vivar">Roberto Vivar</option>
                        </select>
                        <h4> Seleccione al area a la que se va a dedicar</h4>
                        <select name="area_dedica" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Informatica">Informatica</option>
                            <option value="Trabajo social">Trabajo social</option>
                            <option value="Gestion de proyectos informaticos">Gestion de proyectos informaticos</option>
                        </select>

                        
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="tiempo_switch"
                            onclick="mitigar_tiempo()">
                        <label unselectable="on" class="custom-control-label" for="tiempo_switch">Dedicar tiempo
                            provisorio</label>
                    </div>

                    <div id="tiempo_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>¿Cuánto tiempo piensa que se deberia dedicar al riesgo?, escriba la razón y el tiempo a lo
                            que
                            se debe dedicar</h4>
                        <textarea name="tiempo_provisorio" class="form-control" id="cambio" rows="4"></textarea>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="herramientas_switch"
                            onclick="mitigar_herramientas()">
                        <label unselectable="on" class="custom-control-label" for="herramientas_switch">Adoptar nuevas
                            herramientas</label>
                    </div>

                    <div id="herramientas_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>Escriba las herramientas que se deben usar para minimizar el impacto del riesgo</h4>
                        <textarea name="herramientas" class="form-control" id="cambio" rows="4"></textarea>
                    </div>
                    <div class="custom-control custom-switch">
                        <label><input type="checkbox" id="vinculos_provocante" name="vinculos_provocante" value="Si">
                            Reducir vinculos con la
                            provocante del riesgo</label><br>
                    </div>

                    <h4>Minimizar probabilidad del riesgo</h4>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="proveedor_switch"
                            onclick="mitigar_proveedor()">
                        <label unselectable="on" class="custom-control-label" for="proveedor_switch">Cambiar de
                            proveedor</label>
                    </div>

                    <div id="proveedor_form" class="form-group" style="display: none; visibility: hidden;">
                        <h4>Proveedor actual: </h4>
                        <h4>Escoja el proveedor que le convenga al proyecto y su riesgo</h4>
                        <select name="proveedor" class="form-select" style="max-width: 306px;">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="Daniel Azocar">Daniel Azocar</option>
                            <option value="Rodrigo Salazar">Rodrigo Salazar</option>
                            <option value="Ramón Gonzalez">Ramón Gonzalez</option>
                        </select>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="factores_switch"
                            onclick="mitigar_factores()">
                        <label unselectable="on" class="custom-control-label" for="factores_switch">Eliminar factores de
                            riesgo</label>
                    </div>

                    <div id="factores_form" class="form-group" style="display: none; visibility: hidden;">
                        <h3>¿Cuales factores usted cree que deberian no considerarse debido al riesgo?</h3>

                        <input type="checkbox" id="factor1" name="factor1"
                            value="Siempre se tiene predestinado trabajar 40 horas a la semana">
                        <label for="factor1"> Siempre se tiene predestinado trabajar 40 horas a la semana</label><br>
                        <input type="checkbox" id="factor2" name="factor2"
                            value="Nuestra labor es trabajar por y para el mundo">
                        <label for="factor2"> Nuestra labor es trabajar por y para el mundo</label><br>
                        <input type="checkbox" id="factor3" name="factor3"
                            value="Conocer mejor a la clientela en el trabajo social">
                        <label for="factor3"> Conocer mejor a la clientela en el trabajo social</label><br>
                        <input type="checkbox" id="factor4" name="factor4" value="Votar por una salud mental positiva">
                        <label for="factor4"> Votar por una salud mental positiva</label><br>

                    </div>
                    <button class="btn btn-success btn-block">
                        Enviar
                    </button>
                </form>
            </div>
            <div name="impform" id="impescalar" style="display: none; visibility: hidden;" class="form-group">
                <h1>FORMULARIO ESCALAR</h1>
            </div>



        </div>
    </div>
</div>

<script>
    function cambiar(c) {
        var estrategia = document.getElementById("strat").textContent;
        var imp = document.getElementsByName("impform");
        var radios = document.getElementsByClassName("str");

        console.log(imp)

        for (let i = 0; i < imp.length; i++) {
            id_imp = imp[i].id;
            document.getElementById(id_imp).style.display = "none";
            document.getElementById(id_imp).style.visibility = "hidden";
        }

        for (let i = 0; i < radios.length; i++) {
            valor_str = radios[i].id;
            if (radios[i].checked) {
                if (valor_str == "evitar") {
                    document.getElementById("impevitar").style.display = "block";
                    document.getElementById("impevitar").style.visibility = "visible";
                }
                else if (valor_str == "aceptar") {
                    document.getElementById("impaceptar").style.display = "block";
                    document.getElementById("impaceptar").style.visibility = "visible";
                }
                else if (valor_str == "transferir") {
                    document.getElementById("imptransferir").style.display = "block";
                    document.getElementById("imptransferir").style.visibility = "visible";
                }
                else if (valor_str == "mitigar") {
                    document.getElementById("impmitigar").style.display = "block";
                    document.getElementById("impmitigar").style.visibility = "visible";
                }
                else if (valor_str == "escalar") {
                    document.getElementById("impescalar").style.display = "block";
                    document.getElementById("impescalar").style.visibility = "visible";
                }
            }
        }
        var estrategia = document.getElementById("strat").textContent;
        if (estrategia != c) {
            document.getElementById("cambio_area").style.display = "block";
            document.getElementById("cambio_area").style.visibility = "visible";
        } else {
            document.getElementById("cambio_area").style.display = "none";
            document.getElementById("cambio_area").style.visibility = "hidden";
        }
    }
</script>

<script>
    function setEstrategia() {
        var imp = document.getElementsByName("impform");
        var estrategia = document.getElementById("strat").textContent;
        var radios = document.getElementsByClassName("str");

        document.getElementById("imp" + estrategia).style.display = "block";
        document.getElementById("imp" + estrategia).style.visibility = "visible";

        for (let i = 0; i < radios.length; i++) {
            valor_str = radios[i].id;
            if (valor_str == estrategia) {
                radios[i].checked = true;
            }
        }

    }
    window.onload = setEstrategia;
</script>

<script>

    function evitar_alcance() {
        alcance_switch = document.getElementById("alcance_switch").checked;
        if (alcance_switch) {
            document.getElementById("alcance_form").style.display = "block";
            document.getElementById("alcance_form").style.visibility = "visible";
        } else {
            document.getElementById("alcance_form").style.display = "none";
            document.getElementById("alcance_form").style.visibility = "hidden";
        }
    }
    function evitar_plan() {
        plan_switch = document.getElementById("plan_switch").checked;
        if (plan_switch) {
            document.getElementById("plan_form").style.display = "block";
            document.getElementById("plan_form").style.visibility = "visible";
        } else {
            document.getElementById("plan_form").style.display = "none";
            document.getElementById("plan_form").style.visibility = "hidden";
        }
    }
    function evitar_cronograma() {
        cronograma_switch = document.getElementById("cronograma_switch").checked;
        if (cronograma_switch) {
            document.getElementById("cronograma_form").style.display = "block";
            document.getElementById("cronograma_form").style.visibility = "visible";
        } else {
            document.getElementById("cronograma_form").style.display = "none";
            document.getElementById("cronograma_form").style.visibility = "hidden";
        }
    }

    function mitigar_rrhh() {
        rrhh_switch = document.getElementById("rrhh_switch").checked;
        if (rrhh_switch) {
            document.getElementById("rrhh_form").style.display = "block";
            document.getElementById("rrhh_form").style.visibility = "visible";
        } else {
            document.getElementById("rrhh_form").style.display = "none";
            document.getElementById("rrhh_form").style.visibility = "hidden";
        }
    }

    function mitigar_tiempo() {
        tiempo_switch = document.getElementById("tiempo_switch").checked;
        if (tiempo_switch) {
            document.getElementById("tiempo_form").style.display = "block";
            document.getElementById("tiempo_form").style.visibility = "visible";
        } else {
            document.getElementById("tiempo_form").style.display = "none";
            document.getElementById("tiempo_form").style.visibility = "hidden";
        }
    }

    function mitigar_herramientas() {
        herramientas_switch = document.getElementById("herramientas_switch").checked;
        if (herramientas_switch) {
            document.getElementById("herramientas_form").style.display = "block";
            document.getElementById("herramientas_form").style.visibility = "visible";
        } else {
            document.getElementById("herramientas_form").style.display = "none";
            document.getElementById("herramientas_form").style.visibility = "hidden";
        }
    }

    function mitigar_proveedor() {
        proveedor_switch = document.getElementById("proveedor_switch").checked;
        if (proveedor_switch) {
            document.getElementById("proveedor_form").style.display = "block";
            document.getElementById("proveedor_form").style.visibility = "visible";
        } else {
            document.getElementById("proveedor_form").style.display = "none";
            document.getElementById("proveedor_form").style.visibility = "hidden";
        }
    }

    function mitigar_factores() {
        factores_switch = document.getElementById("factores_switch").checked;
        if (factores_switch) {
            document.getElementById("factores_form").style.display = "block";
            document.getElementById("factores_form").style.visibility = "visible";
        } else {
            document.getElementById("factores_form").style.display = "none";
            document.getElementById("factores_form").style.visibility = "hidden";
        }
    }

    function descargar(nombre) {
        if (confirm("¿Desea descargar el plan de proyecto vigente de este proyecto?")) {
            window.open(href = '/descargar/' + nombre);
        } else {
            alert("Archivo no descargado");
        }
    }

   

    function transferir_orgainterna() {
        orgainterna = document.getElementById("orgainterna").checked;
        if (orgainterna) {
            document.getElementById("orgainterna_form").style.display = "block";
            document.getElementById("orgainterna_form").style.visibility = "visible";
        } else {
            document.getElementById("orgainterna_form").style.display = "none";
            document.getElementById("orgainterna_form").style.visibility = "hidden";
        }
    }
    function transferir_orgaexterna() {
        orgaexterna = document.getElementById("orgaexterna").checked;
        if (orgaexterna) {
            document.getElementById("orgaexterna_form").style.display = "block";
            document.getElementById("orgaexterna_form").style.visibility = "visible";
        } else {
            document.getElementById("orgaexterna_form").style.display = "none";
            document.getElementById("orgaexterna_form").style.visibility = "hidden";
        }
    }
    function transferir_persointerna() {
        persointerna = document.getElementById("persointerna").checked;
        if (persointerna) {
            document.getElementById("persointerna_form").style.display = "block";
            document.getElementById("persointerna_form").style.visibility = "visible";
        } else {
            document.getElementById("persointerna_form").style.display = "none";
            document.getElementById("persointerna_form").style.visibility = "hidden";
        }
    }
    function transferir_persoexterna() {
        persoexterna = document.getElementById("persoexterna").checked;
        if (persoexterna) {
            document.getElementById("persoexterna_form").style.display = "block";
            document.getElementById("persoexterna_form").style.visibility = "visible";
        } else {
            document.getElementById("persoexterna_form").style.display = "none";
            document.getElementById("persoexterna_form").style.visibility = "hidden";
        }
    }
</script>